<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<title>社員管理システム</title>
	<style type="text/css">
		.container table td.text-center {
			vertical-align: middle;
		}

		td {
			white-space: nowrap;
		}
	</style>
</head>

<body>
	<!-- 縮小の自動補正 -->
	<div class="container">
		<!-- 中央寄せ -->
		<div class="row justify-content-center">
			<!-- カラムの幅 -->
			<div class="col-md-10">
				<!-- 下線を引き3px下げる -->
				<h4 class="border-bottom my-3">営業課新規追加</h4>
				<!-- テープル枠線、カーソル -->
				<button id="addButton"  class="btn mb-3 btn-primary">複製</button>
				<table class="table table-bordered table-hover">
					<thead>
						<tr class="table-warning">
							<th class="text-center">営業課</th>
							<th class="text-center">社員情報</th>
							<th class="text-center">担当地区</th>
							<th class="text-center">売上</th>
							<th class="text-center">保有顧客数</th>
							<th class="text-center">更新日時</th>
							<th></th>
						</tr>
					</thead>
					<form method="post" th:object="${departmentForm}">
						<tbody id="addd">
							<tr th:each="task,stat : *{taskList}" >
								<td class="text-center">
									<select th:name="*{taskList[__${stat.index}__].department}">
										<option th:each="dept : ${departmentList}" th:value="${dept.id}"
											th:text="${dept.name}" th:selected="${dept.name == selectedValue}">
										</option>
									</select>
								</td>
								<td class="text-center">
									<select th:name="taskList[__${stat.index}__].employeeId">
										<option th:each="emp : ${employeeList}" th:value="${emp.id}"
											th:text="${'[ID]' + emp.id + ' [名前]' + emp.name}"
											th:selected="${emp.id == selectedValue}">
										</option>
									</select>
								</td>
								<input type="hidden" name="*{taskList[__${stat.index}__].deleteFlg}" value="true">
								<td class="text-center">
									<input type="text" name="*{task[__${stat.index}__].area}" th:value="${task.area}"
										class="form-control">
								</td>
								<td class="text-center">
									<input type="text" name="*{task[__${stat.index}__].sales}" th:value="${task.sales}"
										class="form-control">
								</td>
								<td class="text-center">
									<input type="text" name="*{task[__${stat.index}__].customers}" value=""
										class="form-control">
								</td>
								<td class="text-center">
									<input type="date" name="*{task[__${stat.index}__].updateDate}" value=""
										class="form-control">
								</td>
								<td class="text-center"><button type="submit" th:formaction="@{/task/add}" name="add"
										class="btn btn-primary">追加</button></td>
								<!-- 	</div> -->
							</tr>
						</tbody>
						<!-- <tr  th:object="${task}">
							<td class="text-center">
							
								<select th:field="*{department}">
									<option value="-"></option>
									<option th:each="dept : ${departmentList}" th:value="${dept.id}"
										th:text="${dept.name}" th:selected="${dept.name == selectedValue}">
									</option>
								</select>
							</td>
					
							<td class="text-center">
								<select name="employeeId">
									<option value="-"></option>
									<option th:each="emp : ${employeeList}" th:value="${emp.id}"
										th:text="${'[ID]' + emp.id + ' [名前]' + emp.name}"
										th:selected="${emp.id == selectedValue}">
									</option>
								</select>
							</td>
							<input type="hidden" name="deleteFlg" value="true">
							<td class="text-center">
								<input type="text" name="area" th:value="*{area}" class="form-control">
							</td>
							<td class="text-center">
								<input type="text" name="sales" th:value="*{sales}" class="form-control">
							</td>
							<td class="text-center">
								<input type="text" name="customers" th:value="*{customers}" class="form-control">
							</td>
							<td class="text-center">
								<input type="date" name="updateDate" th:value="*{updateDate}" class="form-control">
							</td>
							<td class="text-center"><button type="submit" th:formaction="@{/task/add}"
									class="btn btn-primary">追加</button></td>
						</tr> -->
					</form>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:inline="javascript">
		
let addButton = document.getElementById("addButton")

addButton.addEventListener("click",function(){
  let num = 1
  num++
  let copy = document.getElementById("addd")
  let clone = copy.cloneNode(true)
  document.body.appendChild(clone)
})

	</script>
	<script th:src="@{/js/confirmation.js}"></script>
</body>

</html>