<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	
	<title>社員管理システム</title>
	<style type="text/css">
		.container table td.text-center {
			vertical-align: middle;
		}
	</style>
</head>

<body>
	<!-- 縮小の自動補正 -->
	<div class="container">
		<!-- 中央寄せ -->
		<div class="row justify-content-center">
			<!-- カラムの幅 -->
			<div class="col-md-10">
				<!-- 下線を引き3px下げる -->
				<h4 class="border-bottom my-3" th:text="${department.name}"></h4>
				<div class="col h5">

					<input type="radio" th:onclick="|location.href='/task/__${department.id}__'|"
						th:checked="${session.mode == 'all'}"> 全社員　　　
					<input type="radio" th:onclick="|location.href='/task/true/__${department.id}__'|"
						th:checked="${session.mode == 'true'}">在籍社員　　　
					<input type="radio" th:onclick="|location.href='/task/false/__${department.id}__'|"
						th:checked="${session.mode == 'false'}">退職社員　　　
					<input type="radio" th:onclick="|location.href='/department'|">営業課一覧へ戻る
				</div>

				<!-- テープル枠線、カーソル -->
				<table class="table table-bordered table-hover">
					<tr class="table-warning">
						<th class="text-center">ID</th>
						<th class="text-center">氏名</th>
						<th class="text-center">担当地区</th>
						<th class="text-center">売上</th>
						<th class="text-center">保有顧客数</th>
						<th class="text-center">更新日時</th>
						<th></th>
						<th></th>
					</tr>
					<form method="get">
						<!-- 一覧画面表示 -->
						
						<tr th:each="task : ${taskList}" th:object="${task}"
							th:classappend="*{deleteFlg} ? '' : 'bg-secondary text-white' ">
							<div id="pagenation_block">
							<td th:text="*{employeeId}" class="text-center"></td>
							<td th:text="*{name}" class="text-center"></td>
							<td th:text="*{area}" class="text-center"></td>
							<td th:text="*{sales}" class="text-center"></td>
							<td th:text="*{customers}" class="text-center"></td>
							<td th:text="*{updateDate}" class="text-center"></td>
							<td class="text-center"><button type="submit" th:disabled="*{!deleteFlg}"
									th:formaction="@{/task/update/__*{employeeId}__}"
									class="btn btn-warning">編集</button></td>
							<td class="text-center"><button type="submit" th:disabled="*{!deleteFlg}"
									th:onclick="|check('__*{employeeId}__','__*{name}__')|"
									class="btn btn-danger">退職</button>
							</td>
							</div>
						</tr>
			
					</form>
				</table>
				<div id="test"></div>
			</div>
		</div>
	</div>
	<script th:src="@{/js/confirmation.js}"></script>
	<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
	<script th:src="@{/js/paginathing.min.js}"></script>
	<script type="text/javascript">
	$(function () {
		$('#pagenation_block').paginathing({//親要素のclassを記述
			perPage: 5,//1ページあたりの表示件数
			prevText: '<i class="fas fa-angle-left"></i>',//1つ前のページへ移動するボタンのテキスト
			nextText: '<i class="fas fa-angle-right"></i>',//1つ次のページへ移動するボタンのテキスト
			activeClass: 'navi-active',//現在のページ番号に任意のclassを付与できます
			firstText: '<i class="fas fa-angle-double-left"></i>', // "最初ページ"に移動するボタンのテキスト
			lastText: '<i class="fas fa-angle-double-right"></i>', // "最後のページ"に移動するボタンのテキスト

		})
	});
	</script>
</body>

</html>