<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<title>社員管理システム</title>
	<style type="text/css">
		.container table td.text-center {
			vertical-align: middle;
		}

		td {
			white-space: nowrap;
		}
	</style>
</head>

<body>
	<!-- 縮小の自動補正 -->
	<div class="container">
		<!-- 中央寄せ -->
		<div class="row justify-content-center">
			<!-- カラムの幅 -->
			<div class="col-md-10">
				<!-- 下線を引き3px下げる -->
				<div th:if="${session.mode == 'add'}">
					<h4 class="border-bottom my-3">営業課社員追加</h4>
				</div>
				<div th:if="${session.mode != 'add'}">
					<h4 class="border-bottom my-3">社員成績編集</h4>
				</div>
				<!-- テープル枠線、カーソル -->
				<table class="table table-bordered table-hover">
					<tr class="table-warning">
						<div th:if="${session.mode == 'add'}">
							<th class="text-center">営業課一覧</th>
						</div>
						<div th:if="${session.mode == 'add'}">
							<th class="text-center">社員情報</th>
						</div>
						<div th:if="${session.mode != 'add'}">
							<th class="text-center">ID</th>
							<th class="text-center">氏名</th>
						</div>
						<th class="text-center">担当地区</th>
						<th class="text-center">売上</th>
						<th class="text-center">保有顧客数</th>
						<th class="text-center">更新日時</th>
						<th></th>
					</tr>
					<form method="post">
						<!-- 一覧画面表示 -->
						<tr th:object="${task}">

							<!-- 新規営業課追加 -->
							<div th:if="${session.mode == 'add'}">
								<td class="text-center">
									<!-- 営業課一覧 -->
									<select th:field="*{department}">
										<option value="-"></option>
										<option th:each="dept : ${departmentList}" th:value="${dept.name}"
											th:text="${dept.name}" th:selected="${dept.name == selectedValue}">
										</option>
									</select>
								</td>
								<!-- 社員ID -->
								<td class="text-center">
									<select th:name="*{employeeId} + ',' + *{name}">
										<option value="-"></option>
										<option th:each="emp : ${employeeList}" th:value="${emp.id} + ',' + ${emp.name}"
											th:text="${'[ID]' + emp.id + ' [名前]' + emp.name}"
											th:selected="${emp.id == selectedValue}">
										</option>
									</select>
								</td>
								<input type="hidden" name="deleteFlg" value="true">
							</div>

							<!-- 営業課更新 -->
							<div th:if="${session.mode != 'add'}">
								<td class="text-center">
									<input type="hidden" th:field="*{employeeId}" th:text="*{employeeId}">
								</td>
								<input type="hidden" th:field="*{department}">
								<input type="hidden" th:field="*{deleteFlg}">
								<td class="text-center" th:text="*{name}"></td>
								<input type="hidden" th:field="*{name}">
							</div>

							<td class="text-center">
								<input type="text" name="area" th:value="*{area}" class="form-control">
							</td>
							<td class="text-center">
								<input type="text" name="sales" th:value="*{sales}" class="form-control">
							</td>
							<td class="text-center">
								<input type="text" name="customers" th:value="*{customers}" class="form-control">
							</td>
							<td class="text-center">
								<input type="date" name="updateDate" th:value="*{updateDate}" class="form-control">
							</td>

							<div th:if="${session.mode != 'add'}">
								<td class="text-center"><button type="submit" th:formaction="@{/task/update/do}"
										class="btn btn-primary">更新</button></td>
							</div>

							<div th:if="${session.mode == 'add'}">
								<td class="text-center"><button type="submit" th:formaction="@{/task/update/do}"
										class="btn btn-primary">追加</button></td>
							</div>
						</tr>
					</form>
				</table>
			</div>
		</div>
	</div>
</body>

</html>